* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
  /* border: 2px solid red !important; */
}
body {
  overflow: hidden;
}
/* back-to-top */
.backTop {
  position: fixed;
  width: 40px;
  bottom: 20px;
  padding: 9px;
  right: 20px;
  align-items: center;
  height: 40px !important;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  color: white;
  background: #5f21e9;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.backTop:hover {
  background: white;
  color: #02cdcf;
}

/* back-to-top */
/* preloader */
.animation_preloader {
  animation: loder 4s linear;
}

@keyframes loder {
  0% {
    transform: rotate(0);
  }

  75% {
    transform: rotate(360deg);
  }
}
.perloaderback {
  background-color: #000000;
}
.z_index_2000 {
  z-index: 2000 !important;
}

.z_index_100 {
  z-index: 100 !important;
}

/* preloader */
.nav_text{
  transition: all 200ms ease-in-out;
}
.nav_text:hover{
  color: #5f21e9 !important;
}
.blue1 {
  position: absolute !important;
  top: -55%;
  right: -14%;
  z-index: 1;
}
.blue2 {
  position: absolute !important;
  top: -8%;
  left: 34%;
  z-index: 1;
}
.blue3 {
  position: absolute !important;
  top: -70%;
  left: -79px;
  z-index: 1;
}
.blue4 {
  position: absolute !important;
  top: -20%;
  right: -79px;
  z-index: 1;
}
.drop_down {
  border: none !important;
  background: transparent !important;
  color: white !important;
}
.z_index_3 {
  z-index: 3 !important;
}
.z_index_4 {
  z-index: 4 !important;
}
.z_index_5 {
  z-index: 5 !important;
}
.Contact_btn {
  padding: 10px 24px;
  border-radius: 80px;

  background: var(--han-purple-han-purple-07, #6022ea);
  box-shadow: 0px 4px 20px 0px rgba(96, 34, 234, 0.2);
}
.blue_btn {
  border: 1px solid transparent;
  transition: all 200ms ease-in-out;
}
.blue_btn:hover {
  border: 1px solid #5f21e9;
  background-color: white;
  color: #5f21e9 !important;
}
.cross_btn {
  background-color: transparent !important;
  border: none !important;
}
.dropdown-toggle::after {
  margin-top: 6px;
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: url("./assets//images//svg/down_arrow.svg") !important;
  border: none !important;
}
.opacity_07 {
  opacity: 0.7;
}
.opacity_05 {
  opacity: 0.05;
}
/* agency-1 */
.agency_text1 {
  max-width: 592px !important;
}
.agency_text1:before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: #6022ea;
  display: block;
  left: -20px;
  top: 10px;
  position: absolute;
}
.agency_para1 {
  max-width: 592px;
}
.agency_1 {
  left: 20%;
}
.small_blur1 {
  position: absolute;
  top: 42%;
  left: 4%;
}
/* agency-1 */
/* tell-2 */
.input_box {
  padding: 20px 33px;
  border-radius: 80px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.input_text {
  width: 537px;
  background-color: transparent !important;
  outline: none !important;
  border: none !important;
}
/* tell-2 */
/* integar-4 */
.Enter_card1 {
  max-width: 418px;
  height: 426px;
  /* height: 100%; */
  padding: 60px 38px 38px 38px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--white05, #fff);
  transition: all 200ms ease-in-out;
}
.inter_para1 {
  max-width: 342px;
}
.Enter_card1:hover {
  box-shadow: 0px 20px 60.57143px 0px #e5e9f6;
}
/* integar-4 */
/* studio-5 */
.Studio_text1 {
  max-width: 533px;
  transition: all 200ms ease-in-out;
}
.Studio_text1:hover{
  cursor: pointer;
  color: #5f21e9 !important;
}

/* studio-5 */
/* sure-6 */
.sure_card {
  padding: 27px 32px;
  border-radius: 25.938px;
  /* background: #000; */
  background-color: rgb(31, 30, 30);
}
.sure_text1 {
  max-width: 324px;
}
.sure_text2 {
  max-width: 340px;
}
.schedule_btn {
  padding: 10px 24px;
  border-radius: 80px;
  background: var(--han-purple-han-purple-07, #6022ea);
}
/* sure-6 */
/* propy-7 */
.Propy_text1 {
  max-width: 500px;
}
.Propy_para1 {
  max-width: 693px;
}
/* propy-7 */
/* twoboy-8 */
.TwoBoy_text1 {
  max-width: 670px;
}
.TwoBoy_para1 {
  max-width: 562px;
}

/* twoboy-8 */
/* success-10 */
.tabBtn {
  cursor: pointer;
  padding: 8px 16px !important;
  border-radius: 80px !important;
  background-color: transparent !important;
  border: 1px solid #6022ea !important;
  transition: all 200ms ease-in-out;
}
.tabBtn:hover {
  padding: 8px 16px !important;
  border-radius: 80px !important;
  color: #fff !important;
  background: var(--han-purple-han-purple-07, #6022ea) !important;
}
.vipe_card1 {
  cursor: pointer;
  padding: 15px 14px 14px 17px;
  max-width: 274px;
  min-height: 352px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.11);
  background: #fff;
  transition: all 200ms ease-in-out;
}
.vipe_card1:hover {
  transform: scale(1.02);
  /* box-shadow: 12.11429px 48.45714px 60.57143px 0px rgba(229, 233, 246, 0.4); */
  box-shadow:0px  2px 4px 4px #fa00ff;

}
.vipe_para1 {
  max-width: 244px;
}
/* success-10 */
/* have-11 */
.have_bg {
  cursor: pointer;
  padding: 25px 52px 45px 43px;
  border-radius: 17px;
  background: linear-gradient(91deg, #5f21e9 60.06%, #fa00ff 103.73%);
  box-shadow: 0px 20px 50px 0px rgba(39, 0, 124, 0.5);
  transition: all 200ms ease-in-out;
}
.have_bg:hover{
  transform: translateY(-5px);
}
.have_bg:hover .Check_btn {
  color: white !important;
  background-color: #5f21e9;
}
.Have_para1 {
  max-width: 638px;
}
.Check_btn {
  padding: 14px 38px;
  border-radius: 137.287px;
  background: var(--white05, #fff);
  transition: all 200ms ease-in-out;
}
.Check_btn:hover {
  color: white !important;
  background-color: #5f21e9;
  /* background: linear-gradient(91deg,#fa00ff 60.06%,  #5f21e9 103.73%); */
}
.input_box2 {
  padding: 10px 24px 9px 21px !important;
  max-width: 381px !important;
  border-radius: 80px !important;
  background: #fff !important;
}
.cp {
  cursor: pointer;
}

/* have-11 */

/* footer */
.Footer_text1 {
  max-width: 275px;
  transition: all 200ms ease-in-out;
}
.Footer_text1:hover{
  cursor: pointer;
  color: #5f21e9 !important;
}
.white_line::after {
  content: "";
  display: block;
  width: 1px;
  top: 0px;
  /* left: 60px;/ */
  position: relative;
  height: 14px;
  background-color: #fff;
}
.Cat_circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.7;
  transition: all 200ms ease-in-out;
}
.Cat_circle:hover {
  cursor: pointer;
  background-color: #5f21e9;
  transform: scale(1.05);
}

.cat_1{
  transition: all 200ms ease-in-out;
}
 .Cat_circle:hover .cat_1 svg path {
  fill:#fff
}
.footer_border {
  border-top: 1px solid #fff;
}
/* footer */
/* nav-bar */
@media (max-width: 992px) {
  .small_blur1 {
    position: absolute;
    top: 55%;
    left: 4%;
  }
  
  .have_bg:hover .Check_btn {
    color: black !important;
    background-color: white;
  }
  .Enter_card1 {
    height: 100%;
  }
  .nav_bar {
    color: #fff !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #030522;
    transition: all 500ms ease-in-out;
    z-index: 100;
  }
}
.show {
  left: 0;
}

/* nav-bar */
@media (min-width: 992px) {
  .small_blur1 {
    position: absolute;
    top: 45%;
    left: 4%;
  }
}
@media (min-width: 1200px) {
  .agency_1 {
    left: 2%;
    position: absolute;
  }
  .Team_pos {
    position: absolute;
    top: -120px;
  }
  .blue_card_pos {
    top: -160px;
    left: 5%;
    position: absolute;
  }
  .small_blur1 {
    position: absolute;
    top: 54%;
    left: 5%;
  }
}
@media (min-width: 1600px) {
  .small_blur1 {
    position: absolute;
    top: 51%;
    left: 24%;
  }
  .agency_1 {
    left: 20%;
    position: absolute;
  }
  .Team_pos {
    position: absolute;
    top: -160px;
  }
  .blue_card_pos {
    top: -160px;
    left: 15%;
    position: absolute;
  }
}